<!--breadcrumbs start-->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          Contacts
        </h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <!-- Something can go here? Not sure what this is -->
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs end-->



    <!--container start-->
<div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-5 address">
        <section class="contact-infos">
          <h4 class="title custom-font text-black">
            ADDRESS
          </h4>
          <address>
            US Bank Tower
             633 West Fifth Street, Los Angeles CA, 90071,
            <br>
            CA, USA
            <br>
            Stuff
          </address>
        </section>
        <section class="contact-infos">
          <h4 class="title custom-font text-black">
            BUSINESS HOURS
          </h4>
          <p>
            Monday - Friday 8am to 4pm
            <br>
            Saturday - 7am to 6pm
            <br>
            Sunday- Closed
            <br>
          </p>
        </section>
        <section class="contact-infos">
          <h4>
            TELEPHONE
          </h4>
          <p>
            <i class="icon-phone">
            </i>
            310-Tin-Derr
          </p>

          <p>
            <i class="icon-phone">
            </i>
            310-New-Babe
          </p>

        </section>
      </div>

        <div class="col-lg-7 col-sm-7 address">
          <h4>
            Drop us a line so that we can hear from you
          </h4>

          <div class="contact-form">
            <%= form_for @contact, :html => {:class => 'form-group' } do |f| %>

              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, :required => true, :class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :email %>
                <%= f.text_field :email, :required => true, :class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :phone %>
                <%= f.text_field :phone, :as => :text, :required => true, :class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :zip_code %>
                <%= f.text_field :zip_code, :as => :text, :required => true, :class => 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :message %>
                <%= f.text_area :message, :as => :text, :required => true, :class => 'form-control' %>
              </div>

              <div class= "hidden">
                <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
              </div>

              <div>
                </br>
                <%= f.submit 'Get a Free Quote!', :class=> "btn btn-info" %>
              </div>
            <% end %>

          </div>

        </div>
      </div>

    </div>
      <%= render 'layouts/smcarousel' %>
    </div>

  </div>
</div>
