<div class="contact-form">
  <%= form_for @contact, :html => {:class => 'form-group' } do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :required => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, :required => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, :as => :text, :required => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, :as => :text, :required => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :message, :as => :text, :required => true, :class => 'form-control' %>
    </div>

    <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
    </div>

    <div>
      </br>
      <%= f.submit 'Get a Free Quote!', :class=> "btn btn-info" %>
    </div>
  <% end %>

</div>
